:root {
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --active-button: #188ce8;
  --primary-white-color: #ffffff;
  --secondary-gray-color: #f5f4fa;
  --secondary-footer-color: #2f303a;
  --logo-black-color: #000000;
  --header-separate-line: #ececec;
  --cards-border: #eeeeee;
  --svg-grey-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/* Hidden headers!!! */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* reset styles <ul> <a>  */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* Position containers/section/title */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

/* index html page */
/* header site nav */
.logo {
  color: var(--accent-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding: 24px 0 24px 0;
}

.logo-black {
  color: var(--logo-black-color);
}

.logo-white {
  color: var(--primary-white-color);
}

.nav-link {
  color: var(--title-text-color);

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 30px 0;

  transition: color 250ms var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* leaves an active link */
.link.current {
  color: var(--accent-color);
}

/* underscore active link */
.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* header position */
.page-header {
  max-height: 80px;
  border-bottom: 1px solid var(--header-separate-line);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 93px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  min-height: 80px;
  align-items: center;
}

.contacts-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
}

.contacts-link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  gap: 10px;
  padding: 32px 0;

  transition: color 250ms var(--timing-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* svg mail, tel color  */
.contacts-logo-icon {
  fill: var(--secondary-text-color);

  transition: fill 250ms var(--timing-function);
}

/* svg mail, tel hover, focus */
.contacts-link:hover .contacts-logo-icon,
.contacts-link:focus .contacts-logo-icon {
  fill: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--secondary-footer-color);
  height: 600px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(58, 56, 47, 0.4)
    ),
    url(..//img/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1600px;

  padding: 200px 0 200px;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 696px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.primary-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  margin: auto;
  padding: 10px 32px;

  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* features title h2 hidden!!! */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.71;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.futures-icon {
  background-color: var(--secondary-gray-color);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.features-list .features-item {
  max-width: 270px;
}

/* about */
/* h2 title */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.about-section {
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.about-image {
  display: block;
}

.about-list {
  position: relative;
}

.about-text {
  position: absolute;
  bottom: 0;

  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  display: flex;
  height: 70px;
  width: 370px;
  align-items: center;
  justify-content: center;
}

/* our team */
.team {
  background-color: var(--secondary-gray-color);
}

.team-item {
  background-color: var(--primary-white-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  margin-bottom: 10px;
  text-align: center;
}

.team-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-image {
  display: block;
}

.container-cards {
  padding: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* social links fb, in, tw... */
.net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.net-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white-color);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}

.net-icon {
  fill: var(--svg-grey-color);

  transition: fill 250ms var(--timing-function);
}

/* change hover, focus colors of icons */
.net-link:hover,
.net-link:focus {
  background-color: var(--accent-color);
}

.net-link:hover .net-icon,
.net-link:focus .net-icon {
  fill: var(--primary-white-color);
}

/* clients section */
.clients-link {
  display: flex;
  fill: var(--svg-grey-color);
  width: 170px;
  height: 92px;
  border: solid 1px var(--svg-grey-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms var(--timing-function);
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link:hover {
  border-color: var(--accent-color);
}

.clients-logo-icon {
  transition: fill 250ms var(--timing-function);
}

.clients-link:hover .clients-logo-icon,
.clients-link:focus {
  fill: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--secondary-footer-color);

  padding: 60px 0;
}

.address-link-map {
  color: var(--primary-white-color);

  font-size: 14px;
  line-height: 1.7;
}

.address-link {
  color: var(--footer-text);

  font-size: 14px;
  line-height: 1.7;

  transition: color 250ms var(--timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-footer {
  display: block;
  line-height: 31px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-link-map,
.address-link {
  display: block;
  line-height: 21px;
}

/* footer icon social links */
.footer-join-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-box {
  display: flex;
  gap: 93px;
  align-items: baseline;
}

.footer-text {
  color: var(--primary-white-color);

  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-net-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}

.footer-net-icon {
  fill: var(--primary-white-color);
}

/* change hover, focus colors of background icons */
.footer-net-link:hover,
.footer-net-link:focus {
  background-color: var(--accent-color);
}

/* footer form */
.footer-form-label {
  color: var(--primary-white-color);

  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-form-input {
  color: var(--primary-white-color);
  background-color: var(--secondary-footer-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  cursor: pointer;
}

.footer-button {
  padding: 10px 62px 10px 28px;
}

.footer-form-control {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer-send-button {
  content: "";
  position: relative;
}

.footer-button-icon {
  fill: var(--primary-white-color);
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* portfolio html */
/* buttons */
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* buttons position */
.filter-list {
  margin-bottom: 34px;

  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio-link {
  background: var(--primary-white-color);
  border: 1px solid var(--cards-border);

  display: block;
  width: 370px;

  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .cards-overlay-text,
.portfolio-link:focus .cards-overlay-text {
  transform: translateY(0);
}

.cards-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
}

.cards-text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.cards-image {
  display: block;
}

.cards-container {
  padding: 20px 24px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--cards-border);
  border-top: none;
}

.cards-title {
  margin-bottom: 4px;
}

.bloc-cards-image {
  position: relative;
  overflow: hidden;
}

.cards-overlay-text {
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  padding: 63px 24px;

  transform: translateY(100%);

  transition: transform 250ms var(--timing-function);
}

/* modal */
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);

  position: fixed;

  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  opacity: 1;

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

/* invisible modal window */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;

  border-radius: 4px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--timing-function);
}

.modal-close-button {
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--logo-black-color);

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);

  transition: fill 250ms var(--timing-function);
}

/* form field */
.form-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-label {
  color: var(--secondary-text-color);

  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;

  padding: 12px 12px 12px 42px;
  outline: none;
  cursor: pointer;
}

.form-input:focus {
  border-color: var(--accent-color);

  transition: border-color 250ms var(--timing-function);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);

  transition: fill 250ms var(--timing-function);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

/* Comment */
.form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);

  display: block;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  cursor: pointer;
}

.form-textarea:focus {
  border-color: var(--accent-color);

  transition: border-color 250ms var(--timing-function);
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

/* Checkbox */
.checkbox-input {
  appearance: none;
}

.checkbox-label {
  color: var(--secondary-text-color);

  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding-left: 36px;
}

.terms-link {
  color: var(--accent-color);
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
}

.checkbox-icon {
  content: "";
  position: absolute;
  z-index: -1;

  fill: var(--primary-white-color);
  fill-opacity: 0;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  /* background-size: contain;
  background-origin: border-box; */

  transition: background-color 250ms var(--timing-function),
    fill-opacity 250ms var(--timing-function);
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border: none;

  fill: var(--primary-white-color);
  fill-opacity: 1;
  /* background-size: contain;
  background-origin: border-box; */
}

.form-button {
  padding: 10px 52px;
}
