.modal {
    background-color: var(--primary-white-color);

    box-shadow: $modal-box-shadow;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;

    border-radius: 4px;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms var(--timing-function);

    &__close-button {
            background: var(--primary-white-color);
            border: 1px solid $modal-close-button-border;
            fill: var(--logo-black-color);
    
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
    
            position: absolute;
            right: 8px;
            top: 8px;
        }
    
    &__close-button:hover,
    &__close-button:focus {
            fill: var(--accent-color);
    
            transition: fill $transition-dur var(--timing-function);
        }
}

